/* @import url('maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'); */
.container{
    height: 310px;
    width: 350px;
    display: flex;
     margin-left: 40%;
     margin-top: 20%;
     /* background-color:#FFFDFA; */
     background-color:white;
     /* background-image: url(login1.jpeg); */
     border-radius: 10px;
     opacity: 0.8;
     /* flex-shrink: inherit; */
     box-shadow: 11px 12px 13px 11px rgb(207, 207,207);
 }
 /* body{
    /* background-image: url(login2.jpg); 
 }
  */
 /* input{
    height: 10vh;
    width:10vw;
    background-color: beige;
} */

input[type=text]{
    /* background-color: rgb(237, 197, 197);
    width:20vw;
    height: 3vh;;
    margin-top: 5%;
    margin-left: 5%;
    border: 2px solid red;
    border-radius: 4px; */
    width: 250px;
    height: 38px;
    border-radius: 10px;
    /* box-shadow: inset 0px 0px 25px 0px;  */
    padding: 0 20px 0 35px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid rgb(189, 187, 187);
}
input[type=password]{
    /* background-color: rgb(236, 183, 183);
    width:20vw;
    height: 3vh;;
    margin-top: 20%;
    margin-left: 5%;
    border: 2px solid red;
    border-radius: 4px; */
    width: 250px;
    height: 38px;
    border-radius: 10px;
    /* box-shadow: inset 0px 0px 25px 0px;  */
    padding: 0 20px 0 35px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid rgb(189, 187, 187);
    
}
.btn{
    
    margin-left: 8%;
    width: 5vw;
    height: 3vh;
    border-color: red;
    background-color:red;
    position: absolute;
    top:55%;
    text-align: center;
    color: #fff;
    border:none; 
    border-radius:10px; 
    font-size: 20px;
    min-height:30px; 
    min-width: 20px;
    font-family: 'Courier New', Courier, monospace;
    resize: vertical;
    
}
.btn:hover {
    background-color:rgb(54, 243, 7);
    transition: 0.7s;
}
.buttoncls{
    /* margin-top: 30px; */
    width: 300px;
    height: 30px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 25px 0px;
    margin-top: 30px;
    
    background-color:blue;
}
.buttoncls:hover{
    background-color:rgb(16, 224, 51);
    transition: 0.7s;
}

h1{
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 100;
    margin-top: 20px;
   
}

.labelcls{
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    display: flex;
    justify-self: start;
    position: relative;
    padding: 10px 0 0 10px;

}

.acls{
    padding: 20px 0 0 0;
    position: absolute;
    font-size: 10px;
    width:100px;
    /* margin-bottom: 200px; */
    margin-left: 200px;
}
.email{
    height: 10px;
    width: 10px;
    position: absolute;
    padding: 18px 0 0 5px;
    color: #7f7e7d;
}
.pass{
    height: 10px;
    width: 10px;
    position: absolute;
    padding: 18px 0 0 5px;
    color: #7f7e7d;
}
.dcls{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 20px;
    justify-content: center;
    display: flex;
}