.tablecls{ 
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
table{
border-collapse: collapse;
    width: 60%;
    background-color: aliceblue;
}
table th{
   width:25%;
   align-items: start;
   height: 25px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: 15px;
   text-align: left;
   background-color: antiquewhite;
}
table tr td{
    border-bottom: 1pt solid rgb(222, 151, 151);
    height: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.openclosebtn{
    /* width:80px;
    height:30px; */
    background-color:antiquewhite;
    /* position:absolute; */
    /* margin-left: 20%; */
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    /* border-radius: 5%;
    margin-top: 20px;
    margin-bottom: 5px; */
    margin-left: 20%;
    display: flex;
    justify-content: start;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

